body {
    font-family: Arial, sans-serif;
    margin: auto;
    text-align: center;
    background-color: #f9f9f9;
}

header {
    background-color: #0c7523;
    color: white;
    padding: 13px;
}

footer{
    background-color: #0c7523;
    padding: 1px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.card {
    border: 2px solid #3a5738;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    background: white;
}

.card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    color: #3cff2a;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.integrantes h2 {
    text-align: center;
}

.integrantes ul {
    list-style: none;
    padding: 0;
}

.integrantes li {
    font-size: 24px;
    margin: 1%;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

section.integrantes {
    height: 100%;
    width: 33%;
}

h2 {
    margin-top: 5%;
}